body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: justify !important;
  /*background-color: lightgray;*/
}


#hackagraph_kw_selector_container {
  width: 225px;
  position: absolute;
  left: 300px;
  top: 0;
  background: #F1FDF1;
  z-index: 1;
  max-height: 100%;
  overflow: auto;

  height: 18px;
}

#hackagraph_kw_selector_container h3 {
  margin: 1px 0 10px 20px;
}

#hackagraph_kw_selector_list {
  list-style: none;
  padding: 0;
}

/* #search-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  margin: 0.5em;
  width: 14em;
}

#search {
	display: none;
    width: 14em;
} */